.footer {
  max-width: 1440px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background: #000;
  color: white;
}

.footer__container {
  width: 1100px;
  display: flex;
  justify-content: space-between;
  margin-top: 80px;
}

.footer__logo-container {
  width: 230px;
}

.footer__number {
  width: 230px;
  line-height: 23px;
  font-size: 18px;
  font-weight: 700;
}

.footer__email {
  width: 125px;
  margin: 25px 0 30px;
  line-height: 20px;
  font-size: 16px;
  font-weight: 400;
}

.footer__logo {
  width: 207px;
  height: 62px;
}

.footer__nav {
  width: 228px;
}

.footer__links-container {
  width: 228px;
}

.footer__links-title {
  width: 228px;
  margin-bottom: 15px;
  line-height: 23px;
  font-size: 18px;
  font-weight: 400;
}

.footer__links {
  width: 208px;
}

.footer__links-item {
  width: 208px;
  margin-bottom: 15px;
}

.footer__links-item:last-child {
  margin: 0;
}

.footer__link {
  width: 208px;
  line-height: 20px;
  font-size: 16px;
  font-weight: 400;
  color: white;
}

.footer__form-container {
  width: 350px;
}

.footer__title {
  width: 350px;
  line-height: 35px;
  font-size: 30px;
  font-weight: 700;
}

.footer__title-small {
  width: 350px;
  line-height: 35px;
  font-size: 30px;
  font-weight: 400;
}

.footer__form {
  width: 350px;
}

.footer__input {
  all: unset;
  width: 280px;
  height: 40px;
  margin: 15px 0 20px;
  line-height: 20px;
  font-size: 14px;
  font-weight: 400;
  border: none;
  background-image: url('https://hommet.ru/media/uploads/custom-input.svg');
  background-size: cover;
  background-position: right;
  padding-left: 15px;
}

.footer__form-button {
  width: 160px;
  height: 40px;
  line-height: 34px;
  font-size: 14px;
  font-weight: 700;
  background: transparent;
  border: none;
  background-image: url('https://hommet.ru/media/uploads/red-button.svg');
  background-size: cover;
  background-position: right;
  color: white;
}

.footer__button-container {
  width: 375px;
  margin: 10px 0 40px;
  display: flex;
  justify-content: space-between;
}

.footer__button {
  width: 16px;
  height: 16px;
  background: white;
  border: 1px solid #df0923;
}

.footer__button-text {
  width: 320px;
  line-height: 16px;
  font-size: 12px;
  font-weight: 400;
  color: #df0923;
}

.footer__text {
  width: 350px;
  line-height: 20px;
  font-size: 16px;
  font-weight: 400;
}

.footer__version-text {
  width: 47px;
  position: absolute;
  left: 140px;
  top: 400px;
  line-height: 15px;
  font-size: 12px;
  font-weight: 400;
}
